.gallery {
    background: -webkit-linear-gradient(90deg, rgb(9, 9, 9), rgb(79, 73, 43), rgb(9, 9, 9));
    background: -moz-linear-gradient(90deg, rgb(9, 9, 9), rgb(79, 73, 43), rgb(9, 9, 9));
    background: linear-gradient(90deg, rgb(9, 9, 9), rgb(79, 73, 43), rgb(9, 9, 9));
   
  }